{% extends "base.html" %}
{% block title %}Car pool admin page{% endblock %}
{% block metas %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container jumbotron">
        {% if message %}
            {{ message }}
        {% endif %}
        {% if form %}
            {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}, action="") }}
        {% endif %}
        <div class="row">
            <div class="col-md-4">
                <select id="routes" class="form-control">
                </select>
                <input type="submit" class="btn btn-default" name="Show ride" onclick="showRoute(document.getElementById('routes').value)"/>
            </div>
            <div id="map" class="col-md-8"></div>
        </div>
    </div>
    <div class='container'>
        {{ super() }}
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}


        <script type="text/javascript">
            var map
            {% if travels %}
            var data = {{ travels|safe }}
            {% endif %}
            var directionsDisplay;
            var latlng = new google.maps.LatLng(13.198111744120618, 77.70442487739251);
            var directionsService = new google.maps.DirectionsService();
            function showRoute(pos){
                var direction_to_display = data[pos]

                var path_co_ordinates = []
                for (j=0; j<direction_to_display.length; j++){
                    path_co_ordinates.push({
                        location: new google.maps.LatLng(parseFloat(direction_to_display[j]["location"][0]), parseFloat(direction_to_display[j]["location"][1])),
                        stopover:true
                    });
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(direction_to_display[j]["location"][0], direction_to_display[j]["location"][1]),
                        map: map,
                        title: direction_to_display[j]["name"],
                        draggable: false
                    });
                }
                var way_points = [].concat(path_co_ordinates);
                way_points.shift()

                calcRoute(path_co_ordinates[0]["location"], latlng, way_points);
            }
            function calcRoute(start, end, waypoints) {
                directionsDisplay.setMap(map);
                var request = {
                    origin:start,
                    waypoints: waypoints,
                    destination:end,
                    travelMode: google.maps.TravelMode.DRIVING,
                    optimizeWaypoints: true
                };
                directionsService.route(request, function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    }
                });
            }
            window.onload = function() {


                directionsDisplay = new google.maps.DirectionsRenderer();

                map = new google.maps.Map(document.getElementById('map'), {
                    center: latlng,
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                directionsDisplay.setMap(map);


            {% if travels %}
                for (i=0; i<data.length; i++){
                    var x=document.getElementById("routes");
                    var option=document.createElement("option");
                    option.text="Route " + (i+1);
                    option.value=i;
                    try
                    {
                        // for IE earlier than version 8
                        x.add(option,x.options[null]);
                    }
                    catch (e)
                    {
                        x.add(option,null);
                    }
                    for (j=0; j<data[i].length; j++){
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(data[i][j]["location"][0], data[i][j]["location"][1]),
                            map: map,
                            title: data[i][j]["name"],
                            draggable: false
                        });
                    }
                }
            {% endif %}

            };
        </script>
{% endblock %}