{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import 'macro.html' as macros  %}
{% block title %}Car Pool to Airports{% endblock %}
{%- block metas %}
    <meta http-equiv="content-language" content="en-in">
{%- endblock%}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default container" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">car pool</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('.index')}}">index</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
{% endblock %}

{% block content %}
{% endblock %}
