{% extends "base.html" %}
{% block title %}Car pool index page{% endblock %}
{% block metas %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container jumbotron">
        {% if message %}
            {{ message }}
        {% endif %}
        {% if form %}
            {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}, action="") }}
        {% endif %}
        <div id="map">

        </div>
    </div>
    <script>
    window.onload = function() {
        var latlng = new google.maps.LatLng(12.98075028982855, 77.63936521552728);
        document.getElementById('co_ordinate').value = 12.98075028982855 + "|" + 77.63936521552728
        var map = new google.maps.Map(document.getElementById('map'), {
        center: latlng,
        zoom: 11,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: 'Set lat/lon values for this property',
        draggable: true
    });
    google.maps.event.addListener(marker, 'dragend', function(a) {
        document.getElementById('co_ordinate').value = a.latLng.nb + "|" + a.latLng.ob
    });
    };
    </script>
{% endblock %}